[[$head_html]]

[[$header_html]]

[[$nav_html]]

<h1>[[*pagetitle]]</h1>
<section class="article"> 
    <article>
        <div class="article_heading">
            <h1 class="blog_title">[[*longtitle]]</h1>
        </div>
        
        <div class="article_content">
            <h3 class="blog_subheading">Published on [[*publishedon]]</h3>
			<h3 class="blog_subheading">by<em> [[+modx.user.username]]</em></h3>
            <p class="blog_text">[[*content]]</p>
        </div>		
    </article>
</section>
         
[[$footer_html]]